<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.weatherofentrycountryrestapi">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="31" />
  <application android:label="WeatherOfEntryCountryRestApi.Android" android:theme="@style/MainTheme">
  <meta-data android:name="com.google.android.maps.v2.API_KEY"
  android:value="AIzaSyA-W_XZOUCWXm2PwerueS6STpF--9x9an0" />
  <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
   </application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
